.global-text-color {
	color: #fff;
}

.bg-pattern {
    background-repeat: repeat;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /*background: rgb(65, 59, 51);*/
    background: rgb(0, 0, 0);
    /*opacity: 0.6;*/
    z-index: -1;
}

.bg-image {
	position: absolute;
	margin: 0px;
	padding: 0px;
	border: none;
	width: 100%;
	height: 100%;
	z-index: -999999;
	left: 0px;]
}

.body-content {
	margin: 0 auto 30px;
	font-size: 75px;
	text-align: center;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

.anim--top {
	-webkit-animation: move-from-top 1s;
    animation: move-from-top 1s;
}

@-webkit-keyframes move-from-top {
    from {-webkit-transform: translateY(-200px);}
    to {-webkit-transform: translateY(0px);}
}

@keyframes move-from-top {
    from {transform: translateY(-200px);}
    to {transform: translateY(0px);}
}

.hobby {
	-webkit-transition:: all 0.5s ease 0.2s;
	transition: all 0.5s ease 0.2s;
}

.site__wrapper {
	position: absolute;
	display: table;
	width: 100%;
	height: 100%;
	min-height: 100%;
}

.inner__wrapper {
	margin-top: 100px;
}

.cover__container {
	width: 700px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 20px;
	padding-right: 20px;
}

ul.slides li.active {
	z-index: 1 !important;
}
